

.header {
    background-color: rgb(34, 34, 34);
    width: 100%;
    color: #9d9d9d;
    height: 50px;
}

.brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #9d9d9d;
    background-color: transparent;
}


.brand:hover {
    text-decoration: none;
    color: white;
}

.row{
    width: 100%;
}


.task:hover{
    background-color: rgb(249,249,249);
}

.task-title {
    line-height: 1.8;
}

.task-title:hover {
    text-decoration: none;
}

.right-space {
    margin-right: 15px;
}

.time-select {
    margin-bottom: 10px;
}

.time-picker {
    margin: 0 auto;
    width: 300px;
}

.status-button {
    margin-bottom: 10px;
}

.task-list {
    margin-top: 30px;
}

.task:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.task:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.task {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    padding: 4px;
    text-decoration: none;
}