.header {
    background-color: rgb(34, 34, 34);
    width: 100%;
    color: #9d9d9d;
    height: 50px;
}

.brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #9d9d9d;
    background-color: transparent;
}


.brand:hover {
    text-decoration: none;
    color: white;
}

.row{
    width: 100%;
}

.task:hover{
    background-color: rgb(249,249,249);
}

.right-space {
    margin-right: 15px;
}

.time-select {
    margin-bottom: 10px;
}

.time-picker {
    margin: 0 auto;
    width: 300px;
}